.background {
    position: relative;
    background-color: rgba(190, 232, 224, 0.89);
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.wave-svg {
    position: absolute;
    top: 0;
    z-index: 1;
}

.lower-section {
    position: relative;
    top: -100px;
    z-index: 0;
    height: 200px;
    width: 100%;
}
