.background {
    position: relative;
    background-color: rgba(190, 232, 224, 0.89);
    background-size: cover;
    min-height: 100vh; /* Postavlja minimalnu visinu na 100% visine viewporta */
    min-width: 100vw;
}

.wave-svg {
    position: absolute;
    top: 0;
    z-index: 1;
}

.lower-section {
    position: relative;
    top: -100px; /* Ovo pomiče donji dio gore kako bi se preklopio s valom, prilagodite prema potrebi */
    z-index: 0;
    height: 200px; /* Prilagodite visinu vašim potrebama */
    width: 100%;
}
